{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    {{ encore_entry_link_tags('log') }}
{% endblock %}


{% block content %}
{#    {% for flashError in app.flashes('verify_email_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#    {% endfor %}#}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Register</h3>

                            {{ form_start(registrationForm) }}
                                <div class="form-label-group">
                                    {{ form_row(registrationForm.username, {
                                        'attr': {'class': 'form-control'},
                                        label: 'Username'
                                    }) }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(registrationForm.email, {
                                        'attr': {'class': 'form-control'},
                                        'label': 'Email'
                                    }) }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(registrationForm.plainPassword, {
                                        'attr': {'class': 'form-control'},
                                        'label': 'Password'
                                    }) }}
                                </div>
{#                                <div class="custom-control custom-checkbox mb-3">#}
                                    {{ form_row(registrationForm.agreeTerms, {
                                        'label': 'Agree to our terms',
                                        'label_attr' : {'class': 'checkbox-custom'},
                                        'attr': {'class': ''}
                                    }) }}
{#                                </div>#}
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{  parent() }}
    {{ encore_entry_script_tags('log') }}
{% endblock %}